[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telebot = "*"
pandas = "*"
pytelegrambotapi = "*"
psycopg2 = "*"
build = "*"
doit = "*"
flake8 = "*"
pycodestyle = "*"
pydocstyle = "*"

[dev-packages]

[requires]
python_version = "3.11"
